nav{
    background-color: black !important;
}
#item-section{
    position: relative;
}
.category-bar{
    margin-top: 6rem;
    width: 100%;
}
.inner-bar {
    width: 75%;
    margin: auto;
    font-size: 0;
}
.inner-bar button{
    width: 25%;
    margin: 0;
    font-size: 20px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.filter-button{
    position: absolute;
    top: 0;
    left: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
.filter-button-inner img{
    width: 40px;
    display: block;
    margin: 10px auto;
}
.filter-button-inner{
    position: relative;
}
.sub-category-container{
    position: absolute;
    top: -10px;
    left: 0;
    width: 20rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    z-index: 5;
}
#cardio-sub-list{
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 1.5rem;
}
#cardio-sub-list li label{
    margin-left: 1rem;
}
.filter-btn-wrapper{
    width: 12rem;
    margin:2rem auto;
}
.filter-btn{
    display: inline-block;
    width: 5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 10px;
}
.item-card{
    width: 80%;
    margin:1.5rem auto;
    text-align: center;
    padding: 0.75rem;
}
.item-card:hover{
    transform: scale(1.2);
}
.item-card img{
    width: 100%;
}
.item-name{
    font-weight: bold;
    color: black;
    margin-top: 1rem;

}



/*========================================item page========================*/
.back-btn{
    position: absolute;
    top: 7rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
}
.back-btn:active{
    box-shadow: 5px 5px 10px black;
}
.back-btn img{
    width: 80%;
    display: block;
    margin: auto;
}
#item-area{
    margin-top: 7rem;
}
.item-image-card{
    width: 100%;
    margin:  1rem auto 2rem;
}
#item-image{
    width: 100%;
}
.item-gallery{
    width: 22rem;
    margin:0 auto 2rem;
}
.gallery-tile{
    width: 4rem;
    height: 4rem;
    display: none;
    border: 2px solid black;
}
.gallery-tile-img{
    width: 100%;
}
.item-details-container{
    width: 100%;
    margin: 3rem auto 3rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}
.item-details-wrapper{
    padding: 3rem;
}
#item-heading{
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f1b732;
}
#item-console{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: light;

}
#item-description{
    margin-top: 1rem;
}
.console{
    display: inline-block;
    margin-right: 1.5rem;
    position: relative;
}
.console-container{
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(143, 143, 143);
}
.console-wrapper{
    display: block;
    margin-top: 1rem;
}
.label{
    width: 17rem;
    position: absolute;
    bottom: -8rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    display: none;
}
.console:hover >.label{
    display: block;
}
.label p{
    font-size: 0.75rem;
    font-weight: normal;
    text-align: start;
    margin-top: 0.4rem;
    text-transform: none;
}
.console-select-icon{
    width: 40px;
    height: 2px;
    background-color: #f1b732;
    margin:0 auto 5px;
    display: none;
}
.request-section{
    width: 100%;
    background-color: black;
    text-align: right;
}
.request-btn{
    width: 12rem;
    height: 6rem;
    background-color: #fdc43f;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
}
.request-btn:active{
    background-color: #f1b732;
}




/*============================================small screens==============================*/
@media screen and (max-width:768px){
    .inner-bar {
        width: 100%;
    }
    .inner-bar button{
        font-size: 15px;
    }
    .category-bar{
        margin-top: 5rem;
    }
    .product-container{
        max-width: 85% !important;
        margin: auto;
        padding: 0;
    }
    .item-card{
        width: 100%;
    }
    .filter-button{
        top: 15px;
        left: 25px;
        width: 55px;
        height: 55px;
    }
    /*===================item page==========*/

    .back-btn{
        top: 6rem;
        left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .console{
        margin-right: 0.5rem;
    }
    
}

/*====================================mobile devices===============================*/
@media screen and (max-width:576px){
    .inner-bar button{
        font-size: 10px;
    }
    .category-bar {
        margin-top: 4rem;
    }
    .product-container{
        max-width: 100% !important;
    }
    .filter-button {
        top: 12px;
        left: 8px;
        width: 45px;
        height: 45px;
    }
    .filter-button-inner img {
        width: 29px;
    }
    .console img{
        width: 50px;
    }
    .item-details-wrapper {
        padding: 2rem;
    }
}

/*========================================medium devices=======================================*/
@media screen and (min-width:768px) and (max-width:992px){
    .inner-bar{
        width: 100%;
    }
    .filter-button{
        top: 15px;
    }
    .product-container{
        max-width: 85% !important;
        margin: auto;
        padding: 0;
    }
    .item-area-container{
        max-width: 100%;
    }
    .item-details-wrapper {
        padding: 2rem;
    }
    .console{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .console img{
        width: 50px;
    }
}
/*===============================================large devices=================================*/
@media screen and (min-width:992px) and (max-width:1200px){
    .item-area-container{
        max-width: 95%;
    }
    .console{
        margin-right: 0.5rem;
    }
}
/*==============================xl devices===============================================*/
@media screen and (min-width:1200px) and (max-width:1400px){
    .console{
        margin-right: 0.5rem;
    }
}
